<h1>레시피 담는 페이지 입니다.</h1>
<div>
    <form action="/write" method="POST">
        First name:<br>
        <input type="text" name="fir" placeholder = "placeholder"><br>
        Last name:<br>
        <input type="text" name="se"><br>
        First name:<br>
        <input type="text" name="thir"><br>
        Last name:<br>
        <input type="text" name="last"><br>
        <input type="submit" value="Submit">
    
    </form>
    
    
    
</div>
<p><% @recip_list.each do |p| %></p>
    <div>
        <%= p.ing_1 %></br>
        <%= p.ing_2 %></br>
        <%= p.ing_3 %></br>
        <%= p.ing_l %></br>
        
    </div>
<% end %>

<a href="/home/index"><p>돌아가기</p></a>